<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.ParamDAO">
	<resultMap id="baseResultMap" type="com.zc.model.KeyValue">
		<result property="key" column="param_id" />
		<result property="value" column="param_name" />
	</resultMap>
	<select id="queryKeyValues"
		parameterType="com.zc.req.ParamRequest" resultMap="baseResultMap">
		select `param_id`,`param_name` from `t_params` where param_status = 0
		AND `param_type` = #{paramType}
		<if test="sort != null and order != null">
			order by ${sort} ${order}
		</if>
	</select>

	<update id="updateParams"
		parameterType="com.zc.req.ParamRequest">
		insert into `t_params`(`param_type`,`param_name`)
		values(#{paramType},#{paramName}) ON DUPLICATE KEY UPDATE
		`update_time` = now()
	</update>

	<update id="delParam" parameterType="java.lang.Integer">
		update `t_params` set param_status = 1 where `param_id` = #{paramId}
	</update>
	
	<update id="updateParam" parameterType="com.zc.req.ParamRequest">
		update `t_params` set param_name = #{paramName} where `param_id` = #{paramId}
	</update>
</mapper>