<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.PatentDAO">
	<resultMap id="baseResultMap" type="com.zc.model.PatentModel">
		<result property="patentId" column="patent_id" />
		<result property="patentName" column="patent_name" />
		<result property="patentUrl" column="patent_url" />
		<result property="patentType" column="patent_type" />
		<result property="patentTypeName" column="patent_type_name" />
		<result property="patentStatus" column="patent_status" />
		<result property="patentStatusName" column="patent_status_name" />
		<result property="patentPrice" column="patent_price" />
		<result property="industry" column="industry" />
		<result property="industryName" column="industry_name" />
		<result property="isBatch" column="is_batch" />
		<result property="isBatchName" column="is_batch_name" />
		<result property="publishYear" column="publish_year" />
		<result property="publishTime" column="publish_time" />
		<result property="userQQ" column="user_qq" />
		<result property="userWX" column="user_wx" />
	</resultMap>
	<select id="queryPatentList"
		parameterType="com.zc.req.BaseRequest" resultMap="baseResultMap">
		select
		patent_id,patent_name,patent_url,patent_type,patent_type_name,patent_status,patent_status_name,patent_price,industry,industry_name,is_batch,is_batch_name,
		publish_time,user_qq,user_wx from t_patent where 1=1
		<if test="patentType != null">
			AND patent_type = #{patentType} 
		</if>
		<if test="patentStatus != null">
			AND patent_status = #{patentStatus} 
		</if>
		<if test="minPatentPrice != null">
			AND patent_price >= #{minPatentPrice} 
		</if>
		<if test="maxPatentPrice != null">
			AND patent_price >= #{maxPatentPrice} 
		</if>
		<if test="industry != null">
			AND industry = #{industry} 
		</if>
		<if test="isBatch != null">
			AND is_batch = #{isBatch} 
		</if>
		<if test="publishYear != null">
			AND publish_year = #{publishYear} 
		</if>
		<if test="keyword != null">
			AND patent_name like CONCAT('%','${keyword}','%')
		</if>
		order by ${sort} ${order}
		limit #{pageIndex},#{pageSize}
	</select>

	<select id="queryPatentCount" resultType="java.lang.Integer">
		select count(*) from
		t_patent where `is_show` = 0;
	</select>

	<insert id="insertParent"
		parameterType="com.zc.model.PatentModel">
		insert into
		t_patent(patent_id,patent_name,patent_url,patent_type,patent_type_name,patent_status,patent_status_name,patent_price,industry,industry_name,
		is_batch,is_batch_name,publish_year,publish_time,user_qq,user_wx)
		values(#{patentId},#{patentName},#{patentUrl},#{patentType},#{patentTypeName},#{patentStatus},#{patentStatusName},
		#{patentPrice},#{industry},#{industryName},#{isBatch},#{isBatchName},#{publishYear},#{publishTime},#{userQQ},#{userWX});
	</insert>
</mapper>